@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&family=Raleway:wght@300;400&display=swap');
body{
    font-family: Nunito, sans-serif;
    font-weight: 300;
    color: #444;
    background-color: #e2e2df;
    width: 800px;
    margin: auto;
}

#caja{
    width: 200px;
    height: 200px;
    background-color: #ccc;
}